# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Variables de entorno
.env

# IDEs / Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Build / cache
build/
dist/
*.egg-info/